.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    width: 100vw;
}

.signup-card {
    height: 680px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 12px;
}

.login-link {
    padding-top: 10px;
    margin: auto;
    text-decoration: none;
    color: #2a7cbe;
    font-size: 16px;
}

.form-group button {
    font-size: 18px;
    margin-top: 24px;
    color:#f0f8ff;
    background-color: #2a7cbe;
    width: 100%;
}

.form-group button:hover {
    background-color: #106bb4;

}

@media (min-width: 300px) and (max-width: 750px) {
    .signup-card {
        margin-left: 10px;
        margin-right: 10px;
        }
}